USE [SwopIt]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/14/2017 1:15:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[Details] [nvarchar](500) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Condition] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Image1] [nvarchar](200) NOT NULL,
	[Image2] [nvarchar](200) NOT NULL,
	[Image3] [nvarchar](200) NOT NULL,
	[Image4] [nvarchar](200) NOT NULL,
	[Image5] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (1, 1, CAST(0x0000A72000F2B3D2 AS DateTime), N'My Jacket', 1, N'Old', N'Jacket', N'1', N'2', N'3', N'', N'')
INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (2, 1, CAST(0x0000A7210152FA7B AS DateTime), N'My Jacket 11', 1, N'Old', N'Jacket 11', N'', N'', N'', N'', N'')
INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (3, 1, CAST(0x0000A722012B2213 AS DateTime), N'My Jacket', 1, N'Old', N'Jacket', N'', N'', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
