USE [SwopIt]
GO
/****** Object:  Table [dbo].[SwopRequests]    Script Date: 6/14/2017 1:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SwopRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserFrom_Id] [int] NOT NULL,
	[UserTo_Id] [int] NOT NULL,
	[Status] [nvarchar](100) NULL,
	[Date] [datetime] NOT NULL,
	[UserFromItems] [nvarchar](50) NOT NULL,
	[UserToItems] [nvarchar](50) NOT NULL,
	[Type] [varchar](50) NULL,
	[Coins] [varchar](50) NULL,
 CONSTRAINT [PK_SwopRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SwopRequests] ON 

INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (6, 1008, 1009, N'Pending', CAST(0x0000A76401293A2F AS DateTime), N'', N'6,8', NULL, NULL)
INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (7, 1075, 1074, N'Accept', CAST(0x0000A765009C94E3 AS DateTime), N'', N'45', NULL, NULL)
INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (8, 1081, 1073, N'Pending', CAST(0x0000A76600AE0C20 AS DateTime), N'', N'6,8', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SwopRequests] OFF
