USE [SwopIt]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/14/2017 1:15:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[About] [nvarchar](500) NOT NULL,
	[MoreInfo] [nvarchar](500) NOT NULL,
	[PicturePath] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Longitude] [nvarchar](20) NOT NULL,
	[Latitude] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (1, N'Umar Shareef 1', N'Password1', N'Jaz', N'UmarShareef@swopit.com', N'090078602', N'About 1', N'More Information 1', N'1', N'Address 1', N'73.0932', N'33.7295')
INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (2, N'Umar', N'Password', N'Umar', N'Umar@swopit.com', N'090078601', N'About', N'More Information', N'', N'Address', N'73.0931', N'33.7294')
INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (4, N'Umar', N'Password', N'Umar1', N'Umar@swopit.com', N'090078601', N'About', N'More Information', N'', N'Address', N'73.0931', N'33.7294')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UniqueUsername]    Script Date: 6/14/2017 1:16:02 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UniqueUsername] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
