USE [SwopIt]
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByUser]    Script Date: 6/14/2017 1:15:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemsByUser]

@UserId int

AS

SELECT	*
FROM	Items
WhERE	User_Id = @UserId
GO
