USE [master]
GO
/****** Object:  Database [SwopIt]    Script Date: 6/3/2017 6:44:33 PM ******/
CREATE DATABASE [SwopIt]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SwopIt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SwopIt]
GO
/****** Object:  StoredProcedure [dbo].[AcceptedSwopsByUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[AcceptedSwopsByUser]
@UserId  INT

AS

SELECT		*
FROM		SwopRequests 
WHERE		(UserFrom_Id = @UserId OR UserTo_Id = @UserId ) AND Status = 'Accept' 
ORDER BY	[Date]		desc

SELECT	* 
FROM	Users 
WHERE	Id = @UserId
OR
Id IN (SELECT	UserTo_Id 
				FROM	SwopRequests 
				WHERE	(UserFrom_Id = @UserId OR UserTo_Id = @UserId) AND Status = 'Accept' )

OR
Id IN (SELECT	UserFrom_Id 
				FROM	SwopRequests 
				WHERE	(UserFrom_Id = @UserId OR UserTo_Id = @UserId) AND Status = 'Accept' )


SELECT	*
FROM	Items
WHERE	User_Id = @UserId
OR
User_Id IN (SELECT	UserTo_Id 
				FROM	SwopRequests 
				WHERE	(UserFrom_Id = @UserId OR UserTo_Id = @UserId) AND Status = 'Accept' )

OR
User_Id IN (SELECT	UserFrom_Id 
				FROM	SwopRequests 
				WHERE	(UserFrom_Id = @UserId OR UserTo_Id = @UserId) AND Status = 'Accept' )
GO
/****** Object:  StoredProcedure [dbo].[AddCoins]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[AddCoins]

@UserId INT,
@Bank NVARCHAR(200),
@AccoutNumber NVARCHAR(20),
@Coins Float

AS

INSERT INTO [dbo].[UsersAccounts]
           ([User_Id]
           ,[Bank]
           ,[AccountNumber]
           ,[Coins])
     VALUES
           ( @UserId
           , @Bank
           , @AccoutNumber
           , @Coins)

GO
/****** Object:  StoredProcedure [dbo].[AddItem]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE	[dbo].[AddItem]

	@UserId int,
	@Details nvarchar(500),
	@CategoryId int,
	@Condition nvarchar(200),
	@Name nvarchar(200)
		
	AS

	DECLARE @IDs TABLE(ID INT);


INSERT INTO [dbo].[Items]
           ([User_Id]
           ,[PostDate]
           ,[Details]
           ,[Category_Id]
           ,[Condition]
           ,[Name]
           ,[Image1]
           ,[Image2]
           ,[Image3]
           ,[Image4]
           ,[Image5])
		   
		    OUTPUT inserted.ID INTO @IDs(ID)
     VALUES
           ( @UserId
           , GETDATE()
           , @Details
           , @CategoryId
           , @Condition
           , @Name
           , ''
           , ''
           , ''
           , ''
           , '')

		   SELECT ID AS ItemId FROM @IDs

GO
/****** Object:  StoredProcedure [dbo].[AddMessage]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[AddMessage]

@Sender int,
@Reciever int,
@Message nvarchar(1000)

AS

DECLARE @IDs TABLE(ID INT);

INSERT INTO [dbo].[Chats]
           ([Sender]
           ,[Reciever]
           ,[Message]
           ,[Date]
		   ,[IsRead])

OUTPUT inserted.ID INTO @IDs(ID)

     VALUES
           (@Sender
           ,@Reciever
           ,@Message
           ,GETDATE()
		   ,0)


SELECT * FROM Chats WHERE Id = (SELECT ID FROM @IDs)

GO
/****** Object:  StoredProcedure [dbo].[AddRating]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[AddRating]

@UserId	Int,
@Rater	Int,
@Rating	Int

AS

INSERT INTO [dbo].[Ratings]
           ([User_Id]
           ,[Rater]
           ,[Rating])
     VALUES
           ( @UserId
           ,@Rater
           ,@Rating)



GO
/****** Object:  StoredProcedure [dbo].[AddRedeemCoin]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[AddRedeemCoin]

@Name	NVARCHAR(200),
@Coins	float,
@BankName	NVARCHAR(200),
@AccountNumber NVARCHAR(5)

AS

INSERT INTO [dbo].[RedeemCoins]
           ([Name]
           ,[Coins]
           ,[BankName]
           ,[AccountNumber]
           ,[CreateDate])
     VALUES
           (@Name
           ,@Coins
           ,@BankName
           ,@AccountNumber
           ,GETDATE())



GO
/****** Object:  StoredProcedure [dbo].[AddSwopRequest]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[AddSwopRequest]

@Sender int,
@Reciever int,
@SenderItems nvarchar(50),
@RecieverItems nvarchar(50),
@SwopType nvarchar(50),
@Coins nvarchar(50)

AS

IF  EXISTS(SELECT * FROM SwopRequests WHERE UserFrom_Id = @Sender AND UserTo_Id = @Reciever and UserFromItems = @SenderItems and UserToItems = @RecieverItems )
BEGIN
Select 'This Swop Request alreay exists.' AS Message
Return
END

DECLARE @IDs TABLE(ID INT);

INSERT INTO [dbo].[SwopRequests]
           ([UserFrom_Id]
           ,[UserTo_Id]
           ,[Status]
           ,[Date]
           ,[UserFromItems]
           ,[UserToItems]
		   , [Type]
		   ,[Coins])

OUTPUT inserted.ID INTO @IDs(ID)

     VALUES
           (@Sender
           ,@Reciever
           ,'Pending'
           ,GETDATE()
           ,@SenderItems
           ,@RecieverItems
		   ,@SwopType
		   ,@Coins)

SELECT * FROM SwopRequests WHERE Id = (SELECT ID FROM @IDs)
GO
/****** Object:  StoredProcedure [dbo].[ADDUSER]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[ADDUSER] 

@Name nvarchar(150),
@Password nvarchar(50),
@Username nvarchar(100),
@Email nvarchar(100),
@Phone nvarchar(50),
@About nvarchar(500),
@MoreInfo nvarchar(500),
@PicturePath nvarchar(200),
@Address nvarchar(500),
@Longitude nvarchar(20),
@Latitude nvarchar(20)

AS

DECLARE @IDs TABLE(ID INT);

INSERT INTO [dbo].[Users]
           ([Name]
           ,[Password]
           ,[Username]
           ,[Email]
           ,[Phone]
           ,[About]
           ,[MoreInfo]
           ,[PicturePath]
           ,[Address]
           ,[Longitude]
           ,[Latitude])

	OUTPUT inserted.ID INTO @IDs(ID)
     VALUES
           (@Name
           ,@Password
           ,@Username
           ,@Email
           ,@Phone 
           ,@About
           ,@MoreInfo
           ,@PicturePath
           ,@Address
           ,@Longitude
           ,@Latitude)


SELECT ID AS UserId FROM @IDs



GO
/****** Object:  StoredProcedure [dbo].[CategoryExists]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[CategoryExists]

@CategoryId int

AS

SELECT	*
FROM	Categories
WHERE	Id = @CategoryId

GO
/****** Object:  StoredProcedure [dbo].[GetCategories]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCategories]
AS
SELECT *FROM Categories
GO
/****** Object:  StoredProcedure [dbo].[GetChatsByUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure		[dbo].[GetChatsByUser]

@UserId Int

AS
SELECT	UserFrom_Id As Sender , UserTo_Id AS Reciever
FROM	SwopRequests
WHERE	(UserFrom_Id = @UserId  OR	UserTo_Id = @UserId)
AND		Status = 'Accept'
Order By [Date] asc
GO
/****** Object:  StoredProcedure [dbo].[GetItemById]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemById]

@ItemId int

AS

SELECT	*
FROM	Items
WHERE	Id = @ItemId
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByDistance]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemsByDistance]

@UserID INT,
@Distance FLOAT

AS

DECLARE		@Longitude NVARCHAR(50)
DECLARE		@Latitude NVARCHAR(50)

DECLARE		user_cursor CURSOR LOCAL  
FOR			SELECT	Longitude, Latitude 
			FROM	users 
			WHERE	Id = @UserID

OPEN	user_cursor
FETCH	NEXT FROM user_cursor INTO @Longitude , @Latitude
CLOSE	user_cursor

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  AND Users.Id <> @UserID
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByDistanceAndLocation]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsByDistanceAndLocation]

@Distance FLOAT,
@Longitude NVARCHAR(50),
@Latitude NVARCHAR(50)
AS


DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc



GO
/****** Object:  StoredProcedure [dbo].[GetItemsByDistanceForGuest]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsByDistanceForGuest]


AS

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		0 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  



GO
/****** Object:  StoredProcedure [dbo].[GetItemsByMainCategory]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemsByMainCategory]

@UserID INT,
@Distance FLOAT,
@Category NVARCHAR(200)

AS

DECLARE		@Longitude NVARCHAR(50)
DECLARE		@Latitude NVARCHAR(50)

DECLARE		user_cursor CURSOR LOCAL  
FOR			SELECT	Longitude, Latitude 
			FROM	users 
			WHERE	Id = @UserID

OPEN	user_cursor
FETCH	NEXT FROM user_cursor INTO @Longitude , @Latitude
CLOSE	user_cursor

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.MainCategory AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  AND Users.Id <> @UserID
		AND Items.Category_Id = Categories.Id  AND Categories.MainCategory = @Category
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc


GO
/****** Object:  StoredProcedure [dbo].[GetItemsByMainCategoryAndLocation]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE	[dbo].[GetItemsByMainCategoryAndLocation]

@Distance FLOAT,
@Longitude NVARCHAR(50),
@Latitude NVARCHAR(50),
@Category NVARCHAR(200)

AS

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.MainCategory AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id 
		AND Items.Category_Id = Categories.Id  AND Categories.MainCategory = @Category
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc




GO
/****** Object:  StoredProcedure [dbo].[GetItemsByMainCategoryForGuest]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE	[dbo].[GetItemsByMainCategoryForGuest]

@Category NVARCHAR(200)
AS



SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.MainCategory AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		0 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id 
		AND Items.Category_Id = Categories.Id  AND Categories.MainCategory = @Category		



GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySearch]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[GetItemsBySearch]

@UserID INT,
@Distance FLOAT,
@Search NVARCHAR(500)

AS

DECLARE		@Longitude NVARCHAR(50)
DECLARE		@Latitude NVARCHAR(50)

DECLARE		user_cursor CURSOR LOCAL  
FOR			SELECT	Longitude, Latitude 
			FROM	users 
			WHERE	Id = @UserID

OPEN	user_cursor
FETCH	NEXT FROM user_cursor INTO @Longitude , @Latitude
CLOSE	user_cursor

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  AND Users.Id <> @UserID
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
		AND Items.Name like '%' + @Search + '%'
ORDER BY	Distance asc


GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySearchAndLocation]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsBySearchAndLocation]

@Distance FLOAT,
@Longitude NVARCHAR(50),
@Latitude NVARCHAR(50),
@Search NVARCHAR(500)
AS


DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
		AND Items.Name like '%' + @Search + '%'
ORDER BY	Distance asc



GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySearchForGuest]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsBySearchForGuest]

@Search NVARCHAR(500)
AS

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		0 AS Distance 

FROM	Users, Items 
WHERE	Users.Id = Items.User_Id  
		AND Items.Name like '%' + @Search + '%'


GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySubCategory]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemsBySubCategory]

@UserID INT,
@Distance FLOAT,
@SubCategoryId INT

AS

DECLARE		@Longitude NVARCHAR(50)
DECLARE		@Latitude NVARCHAR(50)

DECLARE		user_cursor CURSOR LOCAL  
FOR			SELECT	Longitude, Latitude 
			FROM	users 
			WHERE	Id = @UserID

OPEN	user_cursor
FETCH	NEXT FROM user_cursor INTO @Longitude , @Latitude
CLOSE	user_cursor

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.Name AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  AND Users.Id <> @UserID
		AND Items.Category_Id = Categories.Id  AND Categories.Id = @SubCategoryId
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc


GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySubCategoryAndLocation]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsBySubCategoryAndLocation]

@Distance FLOAT,
@Longitude NVARCHAR(50),
@Latitude NVARCHAR(50),
@SubCategoryId INT

AS

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.Name AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  
		AND Items.Category_Id = Categories.Id  AND Categories.Id = @SubCategoryId
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc




GO
/****** Object:  StoredProcedure [dbo].[GetItemsBySubCategoryForGuest]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsBySubCategoryForGuest]


@SubCategoryId INT

AS

SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.Name AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude, 	
		 
		0 AS Distance 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  
		AND Items.Category_Id = Categories.Id  AND Categories.Id = @SubCategoryId	





GO
/****** Object:  StoredProcedure [dbo].[GetItemsByUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetItemsByUser]

@UserId int

AS

SELECT	*
FROM	Items
WhERE	User_Id = @UserId
GO
/****** Object:  StoredProcedure [dbo].[GetItemsByUserAndMainCategory]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE	[dbo].[GetItemsByUserAndMainCategory]

@UserID INT,
@Category NVARCHAR(200)

AS


SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.MainCategory AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude
		 

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  AND Users.Id = @UserID
		AND Items.Category_Id = Categories.Id  AND Categories.MainCategory = @Category


GO
/****** Object:  StoredProcedure [dbo].[GetItemsByUserAndSubCategory]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[GetItemsByUserAndSubCategory]

@UserID INT,
@SubCategoryId INT

AS


SELECT	Items.Id AS	ItemId,
		Items.Name AS ItemName,
		Items.Condition AS ItemCondition,
		Items.Details AS ItemDetails,
		--Items.Category_Id AS CategoryId,
		Items.PostDate AS ItemPostDate,
		Items.Image1 As Image1,
		Items.Image2 As Image2,
		Items.Image3 As Image3,
		Items.Image4 As Image4,
		Items.Image5 As Image5,
		
		Categories.Name AS Category,

		Users.Id AS UserId,
		Users.Name As Name,
		Users.Username AS Username,
		Users.Email AS Email,
		Users.Phone AS Phone,
		Users.About AS About,
		Users.MoreInfo AS MoreInfo,
		Users.Address AS Address,	
		Users.PicturePath AS PicturePath,
		Users.Longitude,
		Users.Latitude	
		 
		

FROM	Users, Items, Categories
WHERE	Users.Id = Items.User_Id  AND Users.Id = @UserID
		AND Items.Category_Id = Categories.Id  AND Categories.Id = @SubCategoryId		

GO
/****** Object:  StoredProcedure [dbo].[GetMessagesByTwoUsers]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetMessagesByTwoUsers]

@User1Id int,
@User2Id int

AS

SELECT	*
FROM	Chats
WHERE	(Sender = @User1Id AND Reciever = @User2Id) OR (Sender = @User2Id AND Reciever = @User1Id)
ORDER BY	[Date] asc

SELECT * FROM Users 
WHERE	Id = @User1Id OR Id = @User2Id
GO
/****** Object:  StoredProcedure [dbo].[GetMessagesByUserId]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetMessagesByUserId]

@UserId int

AS

SELECT	*
FROM	Chats
WHERE	Sender = @UserId OR Reciever = @UserId
ORDER BY	[Date]


GO
/****** Object:  StoredProcedure [dbo].[GetSwoppers]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[GetSwoppers]
@UserId  INT,
@Distance FLOAT

AS

DECLARE		@Longitude NVARCHAR(50)
DECLARE		@Latitude NVARCHAR(50)

DECLARE		user_cursor CURSOR LOCAL  
FOR			SELECT	Longitude, Latitude 
			FROM	users 
			WHERE	Id = @UserID

OPEN	user_cursor
FETCH	NEXT FROM user_cursor INTO @Longitude , @Latitude
CLOSE	user_cursor

DECLARE @source GEOGRAPHY = 'POINT(' + @Longitude + ' ' + @Latitude + ')'


SELECT			
		Users.*,		 
		@source.STDistance('POINT(' + Longitude + ' ' +  Latitude + ')')/1000 AS Distance 

FROM	Users
WHERE	Users.Id In (
						SELECT UserFrom_Id AS UserId FROM SwopRequests Where Status = 'Accept'
						Union
						SELECT UserTo_Id AS UserId FROM SwopRequests Where Status = 'Accept'
					)
		AND	@source.STDistance('POINT(' + Users.Longitude + ' ' +  Users.Latitude + ')')/1000 < @Distance
ORDER BY	Distance asc
GO
/****** Object:  StoredProcedure [dbo].[GetSwopRequestsByTwoUsers]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[GetSwopRequestsByTwoUsers]

@User1Id int,
@User2Id int

AS

SELECT	*
FROM	SwopRequests
WHERE	(UserFrom_Id = @User1Id AND UserTo_Id = @User2Id) OR (UserFrom_Id = @User2Id AND UserTo_Id = @User1Id)
ORDER BY	[Date]

SELECT	* 
FROM	Users 
WHERE	Id = @User1Id   OR Id = @User2Id


SELECT	*
FROM	Items
WHERE	User_Id = @User1Id OR User_Id = @User2Id

GO
/****** Object:  StoredProcedure [dbo].[GetSwopRequestsByUserId]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[GetSwopRequestsByUserId]

@UserId int

AS

SELECT	*
FROM	SwopRequests
--WHERE	UserFrom_Id = @UserId OR UserTo_Id = @UserId
WHERE	 UserTo_Id = @UserId
ORDER BY	[Date]


SELECT	* 
FROM	Users 
WHERE	Id = @UserId
OR
Id IN (SELECT	UserTo_Id 
				FROM	SwopRequests 
				WHERE	UserFrom_Id = @UserId OR UserTo_Id = @UserId)

OR
Id IN (SELECT	UserFrom_Id 
				FROM	SwopRequests 
				WHERE	UserFrom_Id = @UserId OR UserTo_Id = @UserId)


SELECT	*
FROM	Items
WHERE	User_Id = @UserId
OR
User_Id IN (SELECT	UserTo_Id 
				FROM	SwopRequests 
				WHERE	UserFrom_Id = @UserId OR UserTo_Id = @UserId)

OR
User_Id IN (SELECT	UserFrom_Id 
				FROM	SwopRequests 
				WHERE	UserFrom_Id = @UserId OR UserTo_Id = @UserId)

GO
/****** Object:  StoredProcedure [dbo].[GetUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUser] 

@Password nvarchar(50),
@Username nvarchar(100)

AS

SELECT	*
FROM	Users
WHERE	[Username] = @Username AND [Password] = @Password

GO
/****** Object:  StoredProcedure [dbo].[GetUserAccount]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetUserAccount]

@UserId INT

AS

SELECT * FROM [dbo].[UsersAccounts]
WHERE	User_Id = @UserId

GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[GetUserById]

@UserId int

AS

SELECT	*
FROM	Users
WHERE	Id = @UserId

GO
/****** Object:  StoredProcedure [dbo].[LastMessageByUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[LastMessageByUser]
@UserId  INT

AS

SELECT		TOp(1) *
FROM		Chats 
WHERE		Sender = @UserId OR Reciever = @UserId  
ORDER BY	[Date]	desc
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[Login]

@Username nvarchar(100),
@Password nvarchar(50)

AS

SELECT	* 
FROM	Users
WHERE	Username = @Username AND Password = @Password


GO
/****** Object:  StoredProcedure [dbo].[UpdateCoins]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[UpdateCoins]

@UserId INT,
@Coins Float

AS

IF NOT  EXISTS(SELECT * FROM UsersAccounts WHERE User_Id = @UserId )
BEGIN

INSERT INTO [dbo].[UsersAccounts]
           ([User_Id]
           ,[Bank]
           ,[AccountNumber]
           ,[Coins])
     VALUES
           (@UserId
           ,''
           ,''
           ,0)



END

UPDATE [dbo].[UsersAccounts]
   SET       
      [Coins] = @Coins
 
 WHERE User_Id = @UserId

GO
/****** Object:  StoredProcedure [dbo].[UpdateItemImage]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[UpdateItemImage]

@ItemId int,
@ImageNumber int

AS

IF @ImageNumber = 1 
BEGIN
    UPDATE	Items
	SET		Image1 = '1'
	WHERE	Id = @ItemId
END

IF @ImageNumber = 2
BEGIN
    UPDATE	Items
	SET		Image2 = '2'
	WHERE	Id = @ItemId
END

IF @ImageNumber = 3 
BEGIN
    UPDATE	Items
	SET		Image3 = '3'
	WHERE	Id = @ItemId
END

IF @ImageNumber = 4 
BEGIN
    UPDATE	Items
	SET		Image4 = '4'
	WHERE	Id = @ItemId
END

IF @ImageNumber = 5 
BEGIN
    UPDATE	Items
	SET		Image5 = '5'
	WHERE	Id = @ItemId
END


GO
/****** Object:  StoredProcedure [dbo].[UpdateProfilePicture]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProfilePicture] 

@UserId int,
@FileName nvarchar(200)

AS

UPDATE [dbo].[Users]          
   SET [PicturePath]   = @FileName 
WHERE	[Id] = @UserId



 
GO
/****** Object:  StoredProcedure [dbo].[UpdateSenderItems]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE	[dbo].[UpdateSenderItems]

@Id int,
@SenderItems nvarchar(200)

AS

UPDATE [dbo].[SwopRequests]
   SET 
      UserFromItems = @SenderItems
	       
 WHERE Id = @Id

 SELECT *
 FROM	SwopRequests
 WHERE	Id = @Id



GO
/****** Object:  StoredProcedure [dbo].[UpdateSwopRequestStatus]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[UpdateSwopRequestStatus]

@Id int,
@Status nvarchar(200)

AS

UPDATE [dbo].[SwopRequests]
   SET 
      [Status] = @Status
	       
 WHERE Id = @Id

 SELECT *
 FROM	SwopRequests
 WHERE	Id = @Id


GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser] 

@UserId int,
@Name nvarchar(150),
--@Password nvarchar(50),
--@Username nvarchar(100),
--@Email nvarchar(100),
@Phone nvarchar(50),
@About nvarchar(500),
@MoreInfo nvarchar(500),
--@PicturePath nvarchar(200),
@Address nvarchar(500)
--@Longitude nvarchar(20),
--@Latitude nvarchar(20)

AS



UPDATE [dbo].[Users]          
   SET [Name]   = @Name 
     -- ,[Password] = @Password 
    --  ,[Username]  = @Username 
      --,[Email] = @Email 
      ,[Phone] = @Phone 
      ,[About] = @About
      ,[MoreInfo] = @MoreInfo
     -- ,[PicturePath]  = @PicturePath 
      ,[Address]  = @Address 
    --  ,[Longitude]  = @Longitude
     -- ,[Latitude]  = @Latitude
 WHERE [Id] = @UserId

 SELECT *
 FROM	Users
 WHERE	Id = @UserId
GO
/****** Object:  StoredProcedure [dbo].[UserAvailable]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[UserAvailable]

@Username nvarchar(100)

AS

SELECT	* 
FROM	Users
WHERE	Username = @Username 


GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MainCategory] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Chats]    Script Date: 6/3/2017 6:44:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [int] NOT NULL,
	[Reciever] [int] NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsRead] [bit] NULL,
 CONSTRAINT [PK_Chats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ContactUs]    Script Date: 6/3/2017 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_ContactUs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Items]    Script Date: 6/3/2017 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[Details] [nvarchar](500) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Condition] [nvarchar](200) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Image1] [nvarchar](200) NOT NULL,
	[Image2] [nvarchar](200) NOT NULL,
	[Image3] [nvarchar](200) NOT NULL,
	[Image4] [nvarchar](200) NOT NULL,
	[Image5] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 6/3/2017 6:44:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Rater] [int] NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[RedeemCoins]    Script Date: 6/3/2017 6:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RedeemCoins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Coins] [float] NOT NULL,
	[BankName] [nvarchar](200) NOT NULL,
	[AccountNumber] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NULL,
 CONSTRAINT [PK_RedeemCoins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[SwopRequests]    Script Date: 6/3/2017 6:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SwopRequests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserFrom_Id] [int] NOT NULL,
	[UserTo_Id] [int] NOT NULL,
	[Status] [nvarchar](100) NULL,
	[Date] [datetime] NOT NULL,
	[UserFromItems] [nvarchar](50) NOT NULL,
	[UserToItems] [nvarchar](50) NOT NULL,
	[Type] [varchar](50) NULL,
	[Coins] [varchar](50) NULL,
 CONSTRAINT [PK_SwopRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/3/2017 6:44:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[About] [nvarchar](500) NOT NULL,
	[MoreInfo] [nvarchar](500) NOT NULL,
	[PicturePath] [nvarchar](200) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Longitude] [nvarchar](20) NOT NULL,
	[Latitude] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[UsersAccounts]    Script Date: 6/3/2017 6:44:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Bank] [nvarchar](200) NOT NULL,
	[AccountNumber] [nvarchar](20) NOT NULL,
	[Coins] [float] NOT NULL,
 CONSTRAINT [PK_UsersAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [MainCategory]) VALUES (1, N'Accessories', N'Fashion')
INSERT [dbo].[Categories] ([Id], [Name], [MainCategory]) VALUES (3, N'Dress', N'Fashion')
INSERT [dbo].[Categories] ([Id], [Name], [MainCategory]) VALUES (4, N'Shoes', N'Fashion')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Chats] ON 

INSERT [dbo].[Chats] ([Id], [Sender], [Reciever], [Message], [Date], [IsRead]) VALUES (1, 1008, 1009, N'Message from 1008 to 1009', CAST(0x0000A78100D31B87 AS DateTime), 0)
INSERT [dbo].[Chats] ([Id], [Sender], [Reciever], [Message], [Date], [IsRead]) VALUES (2, 1009, 1008, N'Message from 1009 to 1008', CAST(0x0000A78100D31EA8 AS DateTime), 0)
INSERT [dbo].[Chats] ([Id], [Sender], [Reciever], [Message], [Date], [IsRead]) VALUES (3, 1008, 1010, N'Message from 1008 to 1010', CAST(0x0000A78100D32139 AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Chats] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (1, 1, CAST(0x0000A72000F2B3D2 AS DateTime), N'My Jacket', 1, N'Old', N'Jacket', N'1', N'2', N'3', N'', N'')
INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (2, 1, CAST(0x0000A7210152FA7B AS DateTime), N'My Jacket 11', 1, N'Old', N'Jacket 11', N'', N'', N'', N'', N'')
INSERT [dbo].[Items] ([Id], [User_Id], [PostDate], [Details], [Category_Id], [Condition], [Name], [Image1], [Image2], [Image3], [Image4], [Image5]) VALUES (3, 1, CAST(0x0000A722012B2213 AS DateTime), N'My Jacket', 1, N'Old', N'Jacket', N'', N'', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([Id], [User_Id], [Rater], [Rating]) VALUES (1, 1, 1008, 7)
INSERT [dbo].[Ratings] ([Id], [User_Id], [Rater], [Rating]) VALUES (2, 1116, 1128, 4)
INSERT [dbo].[Ratings] ([Id], [User_Id], [Rater], [Rating]) VALUES (3, 1116, 1128, 5)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
SET IDENTITY_INSERT [dbo].[RedeemCoins] ON 

INSERT [dbo].[RedeemCoins] ([Id], [Name], [Coins], [BankName], [AccountNumber], [CreateDate]) VALUES (1, N'Umar', 100000, N'JS', N'78383', CAST(0xD03C0B00 AS Date))
INSERT [dbo].[RedeemCoins] ([Id], [Name], [Coins], [BankName], [AccountNumber], [CreateDate]) VALUES (2, N'Umar1', 120000, N'JS', N'78353', CAST(0xD03C0B00 AS Date))
INSERT [dbo].[RedeemCoins] ([Id], [Name], [Coins], [BankName], [AccountNumber], [CreateDate]) VALUES (3, N'Umar', 100000, N'JS', N'78383', CAST(0xD03C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[RedeemCoins] OFF
SET IDENTITY_INSERT [dbo].[SwopRequests] ON 

INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (6, 1008, 1009, N'Pending', CAST(0x0000A76401293A2F AS DateTime), N'', N'6,8', NULL, NULL)
INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (7, 1075, 1074, N'Accept', CAST(0x0000A765009C94E3 AS DateTime), N'', N'45', NULL, NULL)
INSERT [dbo].[SwopRequests] ([Id], [UserFrom_Id], [UserTo_Id], [Status], [Date], [UserFromItems], [UserToItems], [Type], [Coins]) VALUES (8, 1081, 1073, N'Pending', CAST(0x0000A76600AE0C20 AS DateTime), N'', N'6,8', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[SwopRequests] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (1, N'Umar Shareef 1', N'Password1', N'Jaz', N'UmarShareef@swopit.com', N'090078602', N'About 1', N'More Information 1', N'1', N'Address 1', N'73.0932', N'33.7295')
INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (2, N'Umar', N'Password', N'Umar', N'Umar@swopit.com', N'090078601', N'About', N'More Information', N'', N'Address', N'73.0931', N'33.7294')
INSERT [dbo].[Users] ([Id], [Name], [Password], [Username], [Email], [Phone], [About], [MoreInfo], [PicturePath], [Address], [Longitude], [Latitude]) VALUES (4, N'Umar', N'Password', N'Umar1', N'Umar@swopit.com', N'090078601', N'About', N'More Information', N'', N'Address', N'73.0931', N'33.7294')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UsersAccounts] ON 

INSERT [dbo].[UsersAccounts] ([Id], [User_Id], [Bank], [AccountNumber], [Coins]) VALUES (1, 1, N'', N'', 300)
INSERT [dbo].[UsersAccounts] ([Id], [User_Id], [Bank], [AccountNumber], [Coins]) VALUES (2, 1073, N'', N'', 610)
INSERT [dbo].[UsersAccounts] ([Id], [User_Id], [Bank], [AccountNumber], [Coins]) VALUES (3, 1073, N'', N'', 610)
SET IDENTITY_INSERT [dbo].[UsersAccounts] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UniqueUsername]    Script Date: 6/3/2017 6:44:39 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UniqueUsername] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
USE [master]
GO
